src/main/mule/requeter-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5af59feb-8844-4a7c-bd0b-fda439d6029e" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1937e878-9742-40ed-a174-2a6e475cd426" />
	<flow name="requeter-apiFlow" doc:id="0fc818c9-5b38-4bcd-8fac-e1d170ae736a" >
		<http:listener doc:name="Listener" doc:id="7fb113c6-ace1-449f-81d5-5e083003bf69" config-ref="HTTP_Listener_config" path="/path"/>
		<http:request method="GET" doc:name="Request" doc:id="66a13439-ea6a-47da-add5-88b1e667a3a2" config-ref="HTTP_Request_configuration" url="http://api.openweathermap.org/data/2.5/weather">
			<http:query-params ><![CDATA[#[output application/java
---
{
	q : "Hyderabad",
	appid : "4c3fd185c2f007b2c7a5fa6b0ee5614f"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
